body{
 	background-color: black;
 }
#HI {
	color: #E3089A;
	font-size: 40px;
	text-align: center;
	background-color: blue;
}

#clickArea{
	width: 520px;
	height: 1000px;
	background-color: purple;
	text-align: center;
}

#banner{
	text-align: center;
	opacity: 0.5;
	display: inline-block;
	margin-top: 100px;
	width: 100%;
	height: 80px;
	background-color: black;
}

#score{
	display: inline-block;
	position: absolute;
	margin-left: 170px;
	margin-top: -50px;
	color: #5CA5FE;
	font-size: 40px;
}

#cookie{
	display: inline-block;

}

#highhhhhscore{
	float: left;
	font-size: 50px;
	color: #6699FF;
	margin-top: -155px;
	margin-left: 100px;
	text-align: absolute;
	display: inline-block;
}

#reset {
	margin-top: -300px;
	margin-left: 190px;
	width: 135px;
	height: 50px;
	font-size: 24px;
	border-radius: 12px;
	border: #4CAF50;
}

#reset:hover {
background-color: #4CAF50;
	font-size: 24px;
	border-radius: 12px;
	border: #4CAF50;
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#win {
	text-align: center;
	color: #5CA5FE;
	font-size: 200px

}
